
body{
    margin: 0;
    background: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background: #AEE4CF;
}

header:after{
    content: '';
    display: table;
    clear: both;
}
footer{

}

#mainLogo{
    float: left;
    padding: 10px, 0;
}
nav{
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 60px;
    padding-top: 23px;

    position:  relative;

}
nav ul a {
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-transform: lowercase;
}
nav a:hover{
color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 200ms;
}
nav a:hover::before{
    width: 100%;
}

/* Porfolio page css*/

.portfolio-nav{
    text-decoration: none;
}

.recent-projects{
    text-align: center;
}

.portfolio-nav{
    list-style: none;
}
.portfolio-item{
display: flex;
flex-flow: row wrap;
width: 50%;
position:relative;
}

#portfolio-block {
    text-decoration: none;
}
.filter{
    text-decoration: none;
}


footer{
    width: 100%;
    background-color: grey;
    height: 20px;
    position: absolute;
}